PREFIX=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_CA=

TOKEN=
CLIENT_ID=

# OPTIONAL (for some commands and features that is mostly used on my personal server) | I don't bother creating it for multiserver with options and stuff because this bot is not meant to be used on other server

# For mangadex reader
MD_USER=
MD_PASS=

# For saucenao
SAUCENAO_KEY=

SERVER_INVITE=
PERSONAL_SERVER_ID=
# For member counter
PERSONAL_SERVER_MEMBER_COUNT_ID=
# For message spotlight
PERSONAL_SERVER_SPOTLIGHT_CHANNEL_ID=
# rss feed
PERSONAL_SERVER_NYAA_CHANNEL_ID=
PERSONAL_SERVER_MAL_CHANNEL_ID=
PERSONAL_SERVER_CRUNCHYROLL_CHANNEL_ID=
PERSONAL_SERVER_ANN_CHANNEL_ID=